// Example of importing a partial
@import './resets';
@import './variables';

// Example of a function that utilizes a map
// Functions should compute and return values
@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

// Mixin - reusable piece of code, helps duplicating code, use with @include
// Mixins should define styles
@mixin flexCenter($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

// Example of a theme mixin, can use @if statements in them
@mixin theme($light-theme: true) {
    @if $light-theme {
        background: lighten($primary-color, 100%);
        color: darken($text-color, 100%);
    }
}

// Example of a mixin wrapper around media query
@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

body {
    background-color: $primary-color;
    color: $text-color;
}

.main {
    @include flexCenter(row);
    width: 80%;
    margin-inline: auto;

    // &__paragraph would compile to .main__paragraph { ... }
    // #{&}__paragraph would take into account everything prior to the rule and compile to
    // .main .main__paragraph { ... }
    #{&}__paragraph {
        // Map application
        // font-weight: map-get($font-weights, bold);
        // Simplified with a @function
        font-weight: weight(bold);

        &:hover {
            color: pink;
        }
    }

    @include mobile {
        flex-direction: column;
    }
}

.light {
    @include theme(true);
}