// Example of importing a partial
@import './resets';
@import './variables';

// Example of a function that utilizes a map
@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

// Example of a MAP, key - value pairs, access with map-get(map, key)
$font-weights: (
    "regular": 400,
    "medium": 600,
    "bold": 900
);

body {
    background-color: $primary-color;
    color: $text-color;
}

.main {
    width: 80%;
    margin-inline: auto;

    // &__paragraph would compile to .main__paragraph { ... }
    // #{&}__paragraph would take into account everything prior to the rule and compile to
    // .main .main__paragraph { ... }
    #{&}__paragraph {
        // Map application
        // font-weight: map-get($font-weights, bold);
        // Simplified with a @function
        font-weight: weight(bold);

        &:hover {
            color: pink;
        }
    }
}